<% content_for :title, "New movie" %>

<div class="max-w-lg w-full">
  <h1 class="ds-h1 mb-6">New movie</h1>

  <%= render "form", movie: @movie %>

  <div class="mt-4">
    <%= link_to "Back to movies", movies_path, class: "btn btn-ghost" %>
  </div>
</div>
